@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

.hero-img img {
    width: 70%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item a {
    text-decoration: none;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* display: none; */
}