@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 60px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    text-transform: uppercase;
    color: #33cccc;
    font-size: 20px;
    margin-bottom: 40px;
}

header {
    background-color: #33cccc;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.left-div {
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.navbar-brand {
    width: 250px;
    padding-top: 30px;
}

.user-settings-wrapper .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #000;
    color: #fff;
}

.user-settings-wrapper {
    margin-top: 10px;
}

    .user-settings-wrapper li {
        display: inline-block;
    }

    .user-settings-wrapper .dropdown-settings {
        width: 200px;
        padding: 10px;
    }

    .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
        text-decoration: none;
        background-color: #33cccc!important;
    }

    .user-settings-wrapper img {
        height: 64px;
        width: 64px;
        border: 1px solid #000000;
    }

    .user-settings-wrapper .dropdown-menu {
        margin: 0px;
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .btn {
        border-radius: 0px!important;
        -moz-border-radius: 0px!important;
        -webkit-border-radius: 0px!important;
    }

    .user-settings-wrapper .media-heading {
        padding-top: 10px;
    }

    ul .dropdown-menu a {
        background-color: #000;
        color: #fff;
    }

.menu-section {
    background-color: #000000;
}

#menu-top a {
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
}

.menu-top-active {
    background-color: #33cccc;
}

.menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
    background-color: #33cccc;
}

.menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
    background-color: #33cccc;
    color: #000;
}

.navbar-inverse {
    background-color: #33cccc;
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
}

footer {
    padding: 10px;
    color: #000;
    font-size: 12px;
    background-color: #33cccc;
}

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

.dashboard-div-wrapper .progress {
    height: 2px;
}
